body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

/*css header */
header {
    position: fixed;
    display: grid;
    width: 100%;
    height: 82px;
    top: 0;
    background-color: #000925;
    color: white;

    background-image: url(imagens/glyph_yellow.svg);
    background-repeat: no-repeat;
    background-position: 40px;
}

header img {
    padding: 20px;
}

header nav {
    display: flex;
    gap: 40px;
}

.puxar {
    display: flex;
    margin-top: 31px;
    gap: 40px;
}

.puxar a {
    text-decoration: none;
    color: white;
}

.puxar2 {
    margin-top: 10px;
}

nav {
    background-color: #000925;
}

section li {
    display: inline-block;
}

section li a {
    display: inline-block;
    color: #9195a1;
    text-decoration: none;
    padding: 15px;
}

section li a:hover {
    color: white;
}

/*css main */
main {
    margin-top: 84px;
}

header section {
    background-color: white;
}

main .table ul {
    display: flex;
    justify-content: space-between;
}

section ul li a:hover {
    color: #2596be;
    text-decoration: none;
}

article {
    display: flex;
}

.texto {
    color: white;
}

.texto h1 {
    margin-top: 150px;
    margin-left: 40px;
    font-size: 34px;
    width: 250px;
}

.titulo2 {
    margin-left: 40px;
    font-size: 24px;
}

main div {
    background-color: #000925;
    width: 100%;
    height: 320px;
}

main div img {
    position: static;
    height: 233px;
    margin-top: 86px;
    margin-left: 500px;
}

.epoca {
    font-size: 15px;
    color: #a09bac;
    margin-left: 1100px;
    padding: 10px;
}

.cima {
    max-width: 100%;
    color: #efefef;
    margin-bottom: 60px;
}

h2 {
    margin-left: 131px;
}

hr {
    max-width: 82%;
}

table {
    width: 1210px;
    border-collapse: separate;
    border-spacing: 0 8px;
    margin-top: 20px;
}

thead {
    background-color: #d9dce4;
}

th, td {
    border: 1px solid transparent;
    padding: 14px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

main section {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #d9dce4;
}

.border {
    border-right: 8px solid #f5f5f5;
    border-radius: 10px 13px 0 0;
}

.borderflex {
    border-right: 8px solid #f5f5f5;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

td img {margin-left: 15%;}

table .despromoção {
    background-color: #e57373;
}

table .playoffdes {
    background-color: #fededb;
}

table .champions {
    background-color: #b0c8e8;
}

table .championsplayoff {
    background-color: #caddf7;
}

table .playoffconference {
    background-color: #fcdeb3;
}

table .conferencelegue {
    background-color: #ffedd2;
}

.textofundo {
    max-width: 38%;
    margin-left: 30px;
    font-size: 16px;
}

.textofundo ul li {
    display: block;
    margin-bottom: 10px;
}

.cor1 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #b0c8e8;
}

.cor2 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #caddf7;
}

.cor3 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #fcdeb3;
}

.cor4 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #ffedd2;
}

.cor5 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #fededb;
}

.cor6 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #e57373;
}

strong {
    margin-left: 150px;
    font-size: 16px;
    line-height: 20px;
}

span p {
    margin-left: 150px;
    font-size: 16px;
    max-width: 1210px;
    line-height: 20px;
}

.barrafundo {
    display: flex;
    background-color: #151f41;
    color: white;
    align-items: center;
    justify-content: space-around;
    height: auto;
    font-size: 14px;
    margin: 0;
    font-family: 'Muli', sans-serif;
    margin-top: 40px;
}

.barrafundoesquerda {
    justify-content: center;
}

.barrafundodireita {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 768px){
    .container{
    width: 100%;
    flex-direction: column;
    }
}