body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

/*css header */
header {
    position: fixed;
    display: grid;
    width: 100%;
    height: 82px;
    top: 0;
    background-color: #000925;
    color: white;

    background-image: url(imagens/glyph_yellow.svg);
    background-repeat: no-repeat;
    background-position: 40px;
}

header img {
    padding: 20px;
}

header nav {
    display: flex;
    gap: 40px;
}

.puxar {
    display: flex;
    margin-top: 31px;
    gap: 40px;
}

.puxar a {
    text-decoration: none;
    color: white;
}

.puxar2 {
    margin-top: 10px;
}

nav {
    background-color: #000925;
}

section li {
    display: inline-block;
}

section li a {
    display: inline-block;
    color: #9195a1;
    text-decoration: none;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
}

section li a:hover {
    color: white;
}

/*css main */
main {
    margin-top: 84px;
    margin-bottom: 60px;
}

header section {
    background-color: white;
}

main .table ul {
    display: flex;
    justify-content: space-between;
}

section ul li a:hover {
    color: #2596be;
    text-decoration: none;
}

article {
    display: flex;
}

.texto {
    color: white;
}

.texto h1 {
    margin-top: 150px;
    margin-left: 40px;
    font-size: 34px;
    width: 350px;
}

.titulo2 {
    margin-left: 40px;
    font-size: 24px;
}

main div {
    background-color: #000925;
    width: 100%;
    height: 320px;
}

main div img {
    position: static;
    height: 252px;
    margin-top: 68px;
    margin-left: 383px;
}

.epoca {
    font-size: 15px;
    color: #a09bac;
    margin-left: 1100px;
    padding: 10px;
}

.cima {
    max-width: 100%;
    color: #efefef;
    margin-bottom: 60px;
}

h2 {
    margin-left: 131px;
}

.tabela {
    width: 310px;
    height: 550px;
    border-collapse: collapse;
}

.tabela th, .tabela td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.tabela th {
    background-color: #f2f2f2;
}