body {
    margin: 0;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 82px;
    top: 0;
    background-color: #000925;
    color: white;

    background-image: url(imagens/glyph_yellow.svg);
    background-repeat: no-repeat;
    background-position: 40px;
}

header img {
    padding: 20px;
}


nav {
    background-color: #000925;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    color: #9195a1;
    text-decoration: none;
    padding: 15px;
}

nav li a:hover {
    color: white;
}

.dropdown-menu {
    position: absolute;
    display: none;
    background-color: #4f597e;
    left: 0;
    width: 640px;
    max-height: 600px;
    line-height: 1;
}

.dropdown-menu a {
    display: block;
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

footer {
    width: 100%;
    height: 2000px;
    padding: 130px 0px 130px 0px;
    background-color: #22305e;
    color: white;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92px;
    margin: 0 auto;
    background-color: #151f41;
    font-size: 11px;
    gap: 487px;
}

.redes-sociais a {
    text-decoration: none;
}

.redes-sociais img {
    width: 59px;
    height: 59px;
    transition: transform 0.3s ease;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
}

.redes-sociais img:hover {
    transform: scale(1.2);
}

.partes {
    display: flex;
    margin-left: 400px;
}

footer hr {
    border-color: #121b39;
    margin-bottom: 30px;
    margin-top: 30px;
}

hr {
    max-width: 78%;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

footer h3 {
    font-size: 16px;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 10px 0px 10px 0px;
}

.footersobreliga {
    display: flex;
    gap: 90px;
    font-size: 14px;
    line-height: 1.6;
}

.sobreliga {
    margin-left: -40px
}

.instituicional {
    margin-left: -40px
}

.Notícias {
    margin-left: -40px
}

.Integridade {
    margin-left: -40px
}

.SobreALiga {
    margin-left: 180px;

}

.footerligas {
    display: flex;
    gap: 250px;
    font-size: 14px;
    line-height: 1.6;
}

.LigaPortugalBetclic {
    margin-left: 180px;
}

.Betclic {
    margin-left: -40px;
}

.SABSEG {
    margin-left: -40px;
}

.Allianz {
    margin-left: -40px;
}

.barrafundo {
    display: flex;
    background-color: #151f41;
    color: white;
    align-items: center;
    justify-content: space-around;
    height: auto;
    font-size: 14px;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.barrafundoesquerda {
    justify-content: center;
}

.barrafundodireita {
    display: flex;
    gap: 10px;
}