body {
    margin: 0;
}

header {
    position: fixed;
    display: grid;
    width: 100%;
    height: 82px;
    top: 0;
    background-color: #000925;
    color: white;

    background-image: url(imagens/glyph_yellow.svg);
    background-repeat: no-repeat;
    background-position: 40px;
}

header img {
    padding: 20px;
}
header nav {display: flex;
gap: 40px;}

.puxar {display: flex;
     margin-top: 31px;
    gap: 40px;}

.puxar a {text-decoration: none;
color: white;}

.puxar2 {margin-top: 10px;}

nav {
    background-color: #000925;
}

section li {
    display: inline-block;
}

section li a {
    display: inline-block;
    color: #9195a1;
    text-decoration: none;
    padding: 15px;
}

section li a:hover {
    color: white;
}

main {
    margin-top: 84px;
}
header section {
    background-color: white;
}
main section ul {
    display: flex;
    justify-content: space-between;
}

section ul li a:hover {
    color: #2596be;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 2000px;
    padding: 130px 0px 130px 0px;
    background-color: #22305e;
    color: white;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92px;
    margin: 0 auto;
    background-color: #151f41;
    font-size: 11px;
    gap: 487px;
}

.redes-sociais a {
    text-decoration: none;
}

.redes-sociais img {
    width: 59px;
    height: 59px;
    transition: transform 0.3s ease;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
}

.redes-sociais img:hover {
    transform: scale(1.2);
}

.conjunto {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.partes {
    display: flex;
    flex-wrap: wrap;
}

footer hr {
    border-color: #121b39;
    margin-bottom: 30px;
    margin-top: 30px;
}

hr {
    max-width: 78%;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

footer h3 {
    font-size: 16px;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 10px 0px 10px 0px;
}

.footersobreliga {
    display: flex;
    gap: 90px;
    font-size: 14px;
    line-height: 2.0;
}

.sobreliga {
    margin-left: -40px
}

.SobreALiga {
    margin-left: 180px;

}

.LigaPortugalBetclic {
    margin-left: 180px;
}

.Betclic {
    margin-left: -40px;
}

.barrafundo {
    display: flex;
    background-color: #151f41;
    color: white;
    align-items: center;
    justify-content: space-around;
    height: auto;
    font-size: 14px;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.barrafundoesquerda {
    justify-content: center;
}

.barrafundodireita {
    display: flex;
    gap: 10px;
}